.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9e9e9e;
    padding: 0 50px;
}
.logo{
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 1px;
    margin: auto 0;
}

.listcontainer{

}
.list{
    display: flex;
    list-style: none;
}
.list li {
    padding: 15px;
    cursor: pointer;
    color: #fff;
    font-weight: 300;
}

.list li:hover{
    color: #b4b4b4;
}